@CHARSET "UTF-8";


img.sls-flagimage {
	height:2.2em;
	margin-right:0.5em;
}

li.sls-changeLanguageLink {
	list-style: none;
	float:left;
}
li.sls-changeLanguageLink a {
	padding:1em 2em;
	display:inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
li.sls-changeLanguageLink a:hover {
	background-color:#EEEEEE;
	cursor: pointer;
	text-decoration:none;
}

.sls-messageInfo {
	clear:both;
}

#pt-language .sls-trigger {
	display: inline-block;
    width: 24px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 24px;
    background-color: transparent;
    margin-right: 0px;
    margin-left: 0px;
    background-position: center 18px;
    padding: 15px 0px 15px 42px !important;
    margin-top: 0px;
    color:transparent;
}
#pt-language .sls-trigger.lang-de {
	/* @embed */
	background-image: url('flags/de.png')
}
#pt-language .sls-trigger.lang-en {
	/* @embed */
	background-image: url('flags/en.png')
}
#pt-language .sls-trigger.lang-es {
	/* @embed */
	background-image: url('flags/es.png')
}
#pt-language .sls-trigger.lang-fr {
	/* @embed */
	background-image: url('flags/fr.png')
}
#pt-language .sls-trigger.lang-it {
	/* @embed */
	background-image: url('flags/it.png')
}
#pt-language .sls-trigger.lang-pt {
	/* @embed */
	background-image: url('flags/pt.png')
}
#pt-language .sls-trigger.lang-sv {
	/* @embed */
	background-image: url('flags/sv.png')
}